@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz, wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --deca-blue: #002f6c;
    --deca-gold:#c9a227;
    --deca-white: #ffffff;
    --deca-black: #0f172a;

    --deca-light-gray: #f1f5f9;
    --deca-gray: #64748b;
    --deca-border: #e5e7eb;

    --font-body: "Inter", "Segoe UI", Arial, sans-serif;
    --font-heading: "montserrat", Arial, sans-serif;

    --max-width: 1200px;
    --radius-sm: 6px;
    --radius-md: 10px;

    --shadow-card: 0 6px 20px rgba(0,47, 108, 0.15);
    --shadow-hover: 0 10px 30px rgba(0, 47, 108, 0.25);

    --transition: 0.25s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    min-height: 100vh;
    font-family: var(--font-body);
    background-color: var(--deca-light-gray);
    color: var(--deca-black);
}

nav.sidebar {
    width: 120px;
    height: 100vh;
    background: var(--deca-blue);
    display: flex;
    flex-direction: column;
    padding: 20px 0; 
    position: sticky;
    top: 0;
    flex-shrink: 0;
    z-index: 1000;
    transition: width 0.3s ease;
}
nav.sidebar:hover{
    width: 250px;
}

nav .logo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

nav .logo img {
    max-width: 60px;
}

nav.logo img:hover {
    transform: scale (11);
}

nav ul.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--deca-white);
    transition: var(--transition);
}

nav .icon {
    width: 90px;
    height: 90px;
    background-color: rgba(255,255,255, 0.10);
    border: 2px dashed var(--deca-gold);
    border-radius: var(--radius-sm);
    flex-shrink: 0;
}

nav .icon svg {
    width: 50px;
    height: 50px;
    margin: 20%;
    stroke: var(--deca-gold);
    stroke-width: 1.5;
    transition: 0.3s;
}

nav ul li a:hover .icon svg {
    stroke: var(--deca-white);
}

nav ul li a:hover .icon {
    border-color: var(--deca-white);
    color: var(--deca-blue);
}

nav .label {
    position: absolute;
    left: 160px;
    top: 50%;
    transform: translateY(-50%) translateX(-10px);
    background-color: var(--deca-gold);
    color: var(--deca-blue);
    padding: 12px 24px;
    border-radius: var(--radius-sm);
    box-shadow: 6px 6px 15px rgba(0,0,0,0.2);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--font-heading);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 10;
}

nav .label::before {
    content:"";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 8px 8px 8px 0;
    border-style: solid;
    border-color: transparent var(--deca-gold) transparent transparent;
}

nav ul li a:hover .label {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(10px);
}

a, svg, button {
    transition: all 0.2s ease;
}

header {
    margin: 20px;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-card);
}

h2, h3 {
    font-family: var(--font-heading);
    color: var(--deca-blue);
}

#top {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    color: var(--deca-gray);
    max-width: 600px;
    font-size: 1.2rem
}